<h1>
  Department #<%= @department.id %> details
</h1>

<a href="/departments/<%= @department.id %>/edit">
  Edit department
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @department.name %>
  </dd>
    <dt>
    Number of courses
  </dt>
  <dd>
    <%= Course.where(department_id: @department.id).count %>
  </dd>
</dl>

<a href="/delete_department/<%= @department.id %>">
  Delete department
</a>

<hr>

<a href="/departments">
  Go back
</a>

<div class="mt-4">
  <h2>Courses</h2>
  <ul class="list-group">
  <% @department.courses.each do |course| %>
    <li class="list-group-item"><%= course.title %></li>
  <% end %>
</ul>
</div>

<div class="mt-4">
  <h2>Add a new course</h2>
  <form action="/create_course" method="post">
    <!-- Label and input for title -->
    <div class="form-group">
      <label for="title">
        Title
      </label>
  
      <input type="text" id="title" name="title" class="form-control" value="<%= @course.try(:title) %>">
    </div>
    
    <input name="department_id" type="hidden" value="<%= @department.id%>">
  
    <button class="btn btn-block btn-outline-secondary">
      Create course
    </button>
  </form>
  <br>
  <br>
</div>